body {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	/*Background Color Mobile*/
	background-color: #202020;
}

hr {
	/*Break Color Mobile*/
	border-top: 1px solid #fff;
}

.color {
	/*Title Color*/
	color: #00b09b;
}

.bold-font {
	font-weight: 800;
}

.title {
	font-size: 1.6em;
}

.counter {
	font-size: 3em;
}

.description {
	font-size: 1em;
}


.btn-custom {
	/*Gradient*/
	background-image: linear-gradient(-90deg, #00b09b, #96c93d);
	border-radius: 100px;
	width: 100%;
	padding:13px 31px;
	margin-top: 1em;
	/*Button Label Color*/
	color: #fff;
	font-weight: 800 !important;
}

.btn-custom:hover {
	/*Button Label Color*/
	color: #fff;
}


.content-box {
	margin-top: -8em;
}


.jumbotron {
	border-radius: 0 !important;
	height: 350px !important;
}

.bg-img {
	/*Background Color Mobile*/
	background: linear-gradient(transparent, #202020), url("../img/background.jpg") no-repeat center center; 
	background-size: cover;

}

#progressBar {
	margin-top: 0.5em;
	margin-bottom: 1em;
}

iframe {
	margin-top: 1em;
}

.hero-top {
	display: none;
}

footer {
	margin-top: 3em;
}


.card {
	color: #202020;
	margin-top: 1em;
}

.card .title {
	font-size: 1.2em;
	font-weight: 800;
	color: #202020; 
}

.card p {
	margin-bottom: 0 !important;
}

.card .subtitle {
	font-size: 1.1em;
}


.card .code-label {
	font-size: 1.2em;
	font-weight: 800;
	color: #202020; 
}


.card .code {
	font-size: 1.1em;
}


.content-box-ticket {
	margin-top: 2em;
}


.card-img-top {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.card hr {
	border:none;
	border-top:2px dotted #202020;
	color:#fff;
	background-color:#fff;
	margin: 0;
}



.card {
	border-radius: 0.5rem;
}

.large-top {
	margin-top: 1.5em;
}


.large-bottom {
	margin-bottom: 1.5em;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

	body {
		/*Background Color Mobile*/
		background-color: #ffffff;
		color: #202020;
	}


	hr {
		/*Break Color Desktop*/
		border-top: 1px solid #dfdfdf;
	}


	.hero-top {
		width: 100%;
		height: 370px;
		margin-top: -2em;
		display: block;
	}

	.bg-img {
		/*Gradient*/
		background: linear-gradient(#00b09b, #96c93d) no-repeat center center; 
		background-size: cover;
	}

	.jumbotron {
		border-radius: 0 !important;
		height: 300px !important;
	}
	.title {
		font-size: 2em
	}

	.description {
		font-size: 1.3em
	}

	.btn-custom {
		width: 60%;
	}

	.content-box {
		padding-top: 14em;
	}

	.ticket-background {
		/*Gradient*/
		background: linear-gradient(#00b09b, #96c93d) no-repeat center center; 
		height: 100%;
	}

	.ticket-background body {
		/*Gradient*/
		background: linear-gradient(#00b09b, #96c93d) no-repeat center center; 
		height: 100%;
	}

	.ticket-title {
		color: #202020;
	}




}